

@font-face {
  font-family: 'Boldonse';
  src: url('/resources/fonts/Boldonse-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.boldonse-regular {
  font-family: 'Boldonse';
}


